{% extends "base.html" %}

    {% block content %}

    <h1>Welcome to Rock, Paper, Scissors!!!</h1>

    <p>the rules of the game are as follows: in browser the players should enter their choices. player 1 goes first followed by player 2<br>
    For example if player 1 wants to play "rock" and player 2 wants to play "scissors" (even though they can see player 1's choice so really should choose paper in this instance)<br>
simply the enter the choices in the url like so: localhost:5000/rps/rock/scissors</p>

<p> if you are on your own but still want to have hours of fun then you can play the computer by selecting "play computer" from the menu at the top of the screen</p>

    {% endblock %}